* {
    /* border: 2px solid red; */
    font-family: sans-serif;
}

#bg {
    height: auto;
    width: 100%;
}

.txt {
    bottom: 19%;
    left: auto;
}

.txt img {
    width: 100%;
}


.btn1{
	bottom: 11%;
}

.btn1 img {
	width: 57%;
    max-width: 599px; 
}

.btn1 img { 
    max-width: 599px;
    animation: pulse 0.8s infinite;
    animation-timing-function: linear;   
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}





/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #bg {
        height: 100vh;
    }

}